
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

  *{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
  }

  :root{
    --PrimarycOLOR: hsl(199,100%,33%);
    --SecodaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 60%), hsl(199, 95%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: black;
    --textColor: gray;
    --inputColor: rgb(239,239,249);
    --bodyColor: rgb(240,240, 245);
    --cardBG: rgb(225,225,235);
  }

  a{
    text-decoration: none;

  }

  li{
    list-style: none;
  }

  .section{
    padding: 4rem 0 2rem;
  }

  .container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .icon{
    font-size: 2rem;
    cursor: pointer;
  }
  .flex{
    display: flex;
    align-items: center;
  }

  .grid{
    display: grid;
    align-items: center;
  }
  
  .btn{
    padding: .6rem 1.5rem;
    background: var( --gradientColor);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .btn a{
    color: var(--whiteColor);
    font-weight: 500;
  }
  .btn:hover{
    background: var(--SecodaryColor);
  }
  

  img, video{
    width:100%;
    height: auto;
  }

  input{
    font-size: 100%;
    border: none;
    outline-width: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(204, 201, 201);
    
  }

  body{
    background: var(--bodyColor);
  }